.e-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  width: 600px;
  height: 700px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-color: rgb(57, 30, 121);
  box-shadow: 5px black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 7px 8px;
  color: rgb(57, 30, 121);
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.63);
}
h1 {
  margin-top: 50px;
  margin-left: 120px;
  font-weight: normal;
}
.add-form {
  margin-top: 20px;
  margin-left: 120px;
  margin-right: 100px;
}
.full-width {
  width: 100%;
  border-color: rgb(57, 30, 121);
}
.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 50px;
}
.btnuserback {
  background-color: rgb(80, 54, 139);
  width: 100px;
  height: 40px;
  font-size: 13px;
  color: white;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.dropdown {
  width: 100%;
}
