<div class="e-form">
  <br />
  <h1>EDIT TASK</h1>
  <form class="add-form" #myForm="ngForm">
    <mat-form-field class="full-width">
      <mat-label>Name*</mat-label>
      <input
        id="name"
        matInput
        name="name"
        [(ngModel)]="editTask.name"
        #name="ngModel"
        placeholder="Write name..."
        minlength="4"
        required
      />

      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="name.errors.required">Name is required.</div>
        <div *ngIf="name.errors.minlength">
          Name must be at least 4 characters long.
        </div>
      </div>
    </mat-form-field>
    <br />
    <mat-form-field class="full-width">
      <mat-label>Description*</mat-label>
      <textarea
        name="description"
        matInput
        [(ngModel)]="editTask.description"
        #description="ngModel"
        placeholder="Write desctription..."
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Choose Start date*</mat-label>
      <input
        name="startDate"
        matInput
        [(ngModel)]="editTask.startDate"
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Choose End date*</mat-label>
      <input
        name="endDate"
        matInput
        [(ngModel)]="editTask.endDate"
        [matDatepicker]="picker1"
      />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="dropdown">
      <mat-label>Assigned to</mat-label>
      <mat-select
        required
        name="assignedUsers"
        [ngModel]="editTask.assignedUsers"
        (ngModelChange)="changeTaskAssignedUsers($event)"
        multiple
      >
        <mat-option
          id="mat"
          *ngFor="let user of assignedUsers"
          [value]="user.assignedUserId"
          >{{ user.firstName }} {{ user.lastName }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="dropdown">
      <mat-label>Status</mat-label>
      <mat-select
        required
        name="status"
        [ngModel]="editTask.status"
        (ngModelChange)="changeTaskStatus($event)"
        [ngModelOptions]="{ standalone: true }"
      >
        <mat-option value="ToDo">TO DO</mat-option>
        <mat-option value="InProgress">IN PROGRESS</mat-option>
        <mat-option value="Done">DONE</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="dropdown">
      <mat-label>Priority</mat-label>
      <mat-select
        required
        name="priority"
        [ngModel]="editTask.priority"
        (ngModelChange)="changeTaskPriority($event)"
        [ngModelOptions]="{ standalone: true }"
      >
        <mat-option value="Lower">LOW</mat-option>
        <mat-option value="Low">LOWER</mat-option>
        <mat-option value="Medium">MEDIUM</mat-option>
        <mat-option value="High">HIGH</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="grid">
      <button
        class="btnuserback"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="
          myForm.form.invalid || (name.invalid && (name.dirty || name.touched))
        "
        (click)="updateTask()"
      >
        UPDATE
      </button>
      <button
        class="btnuserback"
        mat-raised-button
        color="primary"
        type="button"
        [routerLink]="['/dashboard']"
      >
        BACK
      </button>
    </div>
  </form>
</div>
